mixin menu()
  <!-- Start-navigation -->
  .menu#menu
    .menu__icon
      span
      span
      span
      span
    .menu__links
      a(class="menu__links-item" href="#karaoke") Караоке
      a(class="menu__links-item" href="#dj") Диджеи
      a(class="menu__links-item" href="#leading") Ведущие
      a(class="menu__links-item" href="#portfolio") Портфолио
      a(class="menu__links-item" href="#comments") Отзывы
  <!-- End-navigation -->
